html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: georgia;
  }

body {
  /*color: red;*/
}
